{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {% if form.instance.pk %}
                    <legend class="border-bottom mb-3">{{ form.instance }}</legend>
                {% else %}
                    <legend class="border-bottom mb-3">Add device</legend>
                {% endif %}
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb-1 mt-2">Save</button>
                    {% if form.instance.pk %}
                        <a class="btn btn-secondary mb-1 mt-2" href="{% url 'devices-item' form.instance.pk %}">Cancel</a>
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </div>

{% endblock content %}
