{% extends 'main/base.html' %}
{% load tz %}

{% block content %}
    {% comment %} <h1>Devices</h1> {% endcomment %}
    {% for device in devices %}

    </p>
    <div class="card">
        <div class="card-header">
            {{ device.name }} ({{ device.id }})
        </div>
        <div class="card-body">
            <p class="card-text">{{ device.description }}</p>
            {% localtime on %}
            <small class="card-text">Created: {{ device.create_date|date:"F d, Y (H:i O)" }}</small>
            {% endlocaltime %}
            {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
        </div>
    </div>

    {% endfor %}
{% endblock content %}
