{% extends 'main/base.html' %}

{% block content %}
    {% comment %} <h1>Devices</h1> {% endcomment %}
    {% for device in devices %}

    </p>
    <div class="card">
        <div class="card-header">
            {{ device.name }} ({{ device.id }})
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ device.type }}</h5>
            <p class="card-text">{{ device.descr }}.</p>
            {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
        </div>
    </div>

    {% endfor %}
{% endblock content %}
