{% extends 'main/base.html' %}
{% load tz %}
{% block content %}

    {% for device in devices %}

        <div class="card mb-2">
            <div class="card-header">
                <a href="{% url 'devices-item' device.id %}">{{ device.name }} ({{ device.id }})</a>
            </div>
            <div class="card-body">
                <p class="card-text">{{ device.description }}</p>
            </div>
            <div class="card-footer text-muted">
                {% localtime on %}
                <div>
                    <small class="card-text">Created: {{ device.owner }} {{ device.create_date|date:"F d, Y H:i"}}</small>
                </div>
                {% endlocaltime %}
            </div>
        </div>

    {% endfor %}

    <div class="btn-toolbar mt-2" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class="btn btn-primary" href="{% url 'devices-new' %}">Create</a>
        </div>
    </div>

{% endblock content %}
