{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-3">Reset password</legend>
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mb-1 mt-2">Send e-mail</button>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock content %}
